/* styles.css 04 */

* {
    box-sizing: border-box;
}

h1 {
    text-align: center;
    color: #C73F3E;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
}

body {
    background-color: #FFF8E7;
}

img {
    display: block;
    margin-right: auto;
    margin-left: auto;
    box-shadow: 3px 3px 3px #aaaaaa;
}

div {
    font-family: sans-serif;
    box-shadow: 0 0 2px 0;
    background-color: #D6605E;
    border-radius: 10px;
    padding: 1px;
    padding-left: 10px;
    margin: 10px 200px 10px 200px;
    text-align: center;
}

#home-button {
    border-radius: 5px;
    margin: 25px 720px;
    padding: 10px 10px;
    color: white;
    background-color: black;
    text-decoration: none;
    display: block;
    text-align: center;
    transition: background-color 0.3s ease;
}

#home-button:hover {
    background-color: #F3A949;
    color: black;
    transition: background-color 0.3s ease;
}

ul,
ol {
    display: inline-block;
    padding-right: 10px;
    text-align: left;
}
