/* styles 02 */

* {
    box-sizing: border-box;
}

h1 {
    text-align: center;
    color: #84eab3;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 3px 3px 3px #aaaaaa;
}


body {
    background-color: #FFF8E7;
}

div {
    font-family: sans-serif;
    box-shadow: 0 0 2px 0; 
    background-color: #84eab3;
    border-radius: 10px;
    padding: 1px;
    padding-left: 10px;
    margin: 10px 200px 10px 200px;
    text-align: center;
}


#home-button {
    border-radius: 5px;
    margin: 25px 720px;
    padding: 10px 10px;
    color: white;
    background-color: black;
    text-decoration: none;
    display: block;
    text-align: center;
}

ul,
ol {
    display: inline-block;
    padding-right: 10px;
}


